body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
}
h1 {
    color: violet;
    text-align: center;
}
.box {
    border-width: 1px;
    border-color: #333;
    color: #111;
}
.sidebar {
    float: left;
    width: 200px;
    background-color: #111;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
  }
  .sidebar a {
    display: block;
    padding-bottom: 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
  }
  .content {
    margin-left: 220px;
    padding: 20px;
    margin-top: 0px;
    box-sizing: border-box;
    max-width: 900px;
    text-align: left;
  }

  .logo {
    padding-top: 0px;
    height: 10px;
    width: 60px;
    margin: 0px auto;
    display: block;
    background-color: rgb(0, 119, 255);
    width: 180px;
    margin-left: 0px;
    height: auto;
    border-radius: 10px;
  }
  .organization-info {
    text-align: center;
  }

  .organization-info img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  p {
    max-width: 900px;
  }
  /* Add this CSS code at the end of your existing CSS */
.chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #111;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.chat-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    height: 70px;
    width: auto;
}
