body {
    font-family: Arial, sans-serif;
}

.modal {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    width: 80%;
    max-width: 600px;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
    font-weight: bold;
}
.modal-content {
    background-color: #fafafa;
    padding: 20px;
    border-radius: 5px;
    max-height: 80%;
    overflow-y: auto;
    display: block;
    width: 500px;
    justify-content: center;
    margin: 0px;
    align-items: flex-start;
    min-width: 100vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

}

.terms-content {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #c4b6b6;
    padding: 10px;
    margin-bottom: 10px;
    height: 200px;
    width: 600px;
    overflow-x: auto;
    overflow-y: auto;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4000ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.inbox {
    text-align: left;
}
.Submit {
    text-align: left;
}