.button {
    background-color: red;
    border: none;
    color: black;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    border-radius: 10px;
    margin-top: 40px;

}
.offer {
    position: absolute;
    top: -5px;
    left: 90px;
    background-color: black; 
    width: 70px;
    height: 25px;
    margin-top: 40px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}