body {
    font-family: Arial, sans-serif;
  }
  
  .dropdown-container {
    position: relative;
    display: inline-block;
    margin: 20px;
  }
  
  .dropdown-toggle {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: red;
  }
  
  .dropdown-content {
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    display: none;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 150px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-content li {
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }
  
  .dropdown-toggle:hover + .dropdown-content {
    display: block;
  }
  