body {
    background-color: rgb(31, 28, 28);
}
header {
    background-color: rgb(202, 62, 62);
    align-items: center;
    height: 40px;
    text-align: center;
    font-weight: bold;
    max-width: 900px;
    display: block;
    justify-content: center;
    margin: auto;
    padding-top: 10px;
}
.head {
    color: orangered;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}
.head-down {
    color: orangered;
    font-size: xx-large;
    font-weight: bold;
}
.image {
    align-content: center;
    justify-content: center;
    margin: auto;
    display: block;
    padding: 10px;
}
img {
    border-radius: 15px;
}
p {
    color: white;
    max-width: 900px;
    align-content: center;
    display: block;
    margin: auto;
    padding-top: 10px;
}